.toy-filter form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.toy-filter div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30%;
}

